body,
html {
  height: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45em;
  padding: 2em 30em 2em 30em;
}

.card-container {
  display: grid;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 20px 20px;
  max-width: 50%;
  height: 100%;
  margin: auto;
  padding: 10px;
}

.card-content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: auto;
  height: 100%;
  border-radius: 2%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: medium;
  text-align: justify;
  white-space: normal;
  padding: 5px;
  border-radius: 5%;
}

.card-text p {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 40px;
  font-size: smaller;
  font-weight: 400;
  white-space: normal;
  text-align: justify;
  height: auto;
}

.loader {
  margin: auto;
  padding: 20px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #1c1d1d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .card-container {
    padding: 5px;
    min-width: 80%;
  }

  .navbar-container {
    padding: 2em 2em 2em 2em;
    gap: 6em;
  }
}
